# Core functionality - changes here should be rare!
/src/app.py                   @itziargonzalezmoro
/src/backend/database.py      @itziargonzalezmoro
/src/backend/routers/auth.py  @itziargonzalezmoro

# The frontend will need refactored soon to be more object oriented.
/src/static/   @itziargonzalezmoro
